header{
    display: flex;
    justify-content: center;
    background-color: lightslategrey;
    padding: 20px;
}
h1{
    color: rgb(37, 34, 34);
    font-size: 40px;
}
.group1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:lightsteelblue;
    border-bottom: 10px solid gray;
    padding: 15px;
}
h2{
    color: rgb(58, 55, 55);
    font-size: 25px;
}
.group2{
   display: flex;
    justify-content: space-around;
    padding-top: 30PX;
}
img{
    margin-top: 50px;
}
.group3{
    display: flex;
    justify-content: space-around;
    padding-top: -20%;
 }
 h3{
    font-size: 20px;
 }